ResponseExport/ResponseExport/Service References/SurveyManagementService/SurveyManagementService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dev.checkbox.com/Services/SurveyManagementService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://dev.checkbox.com/Services/SurveyManagementService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ItemMetaData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalData" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="ItemId" type="xs:int" />
      <xs:element minOccurs="0" name="ItemPosition" type="xs:int" />
      <xs:element minOccurs="0" name="PagePosition" type="xs:int" />
      <xs:element minOccurs="0" name="Properties" nillable="true" type="tns:SimpleNameValueCollection" />
      <xs:element minOccurs="0" name="TextData" nillable="true" type="tns:ArrayOfTextData" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemMetaData" nillable="true" type="tns:ItemMetaData" />
  <xs:complexType name="SimpleNameValueCollection">
    <xs:sequence>
      <xs:element minOccurs="0" name="NameValueList" nillable="true" type="tns:ArrayOfSimpleNameValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimpleNameValueCollection" nillable="true" type="tns:SimpleNameValueCollection" />
  <xs:complexType name="ArrayOfSimpleNameValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SimpleNameValue" nillable="true" type="tns:SimpleNameValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSimpleNameValue" nillable="true" type="tns:ArrayOfSimpleNameValue" />
  <xs:complexType name="SimpleNameValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimpleNameValue" nillable="true" type="tns:SimpleNameValue" />
  <xs:complexType name="ArrayOfTextData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TextData" nillable="true" type="tns:TextData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTextData" nillable="true" type="tns:ArrayOfTextData" />
  <xs:complexType name="TextData">
    <xs:sequence>
      <xs:element minOccurs="0" name="LanguageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TextValues" nillable="true" type="tns:SimpleNameValueCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TextData" nillable="true" type="tns:TextData" />
  <xs:complexType name="SurveyItemMetaData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ItemMetaData">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChildItemIds" nillable="true" type="q1:ArrayOfint" />
          <xs:element minOccurs="0" name="ColumnPosition" type="xs:int" />
          <xs:element minOccurs="0" name="IsAnswerRequired" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsAnswerable" type="xs:boolean" />
          <xs:element minOccurs="0" name="Options" nillable="true" type="tns:ArrayOfSurveyOptionMetaData" />
          <xs:element minOccurs="0" name="RowPosition" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SurveyItemMetaData" nillable="true" type="tns:SurveyItemMetaData" />
  <xs:complexType name="ArrayOfSurveyOptionMetaData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SurveyOptionMetaData" nillable="true" type="tns:SurveyOptionMetaData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSurveyOptionMetaData" nillable="true" type="tns:ArrayOfSurveyOptionMetaData" />
  <xs:complexType name="SurveyOptionMetaData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsDefault" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOther" type="xs:boolean" />
      <xs:element minOccurs="0" name="Points" type="xs:double" />
      <xs:element minOccurs="0" name="Position" type="xs:int" />
      <xs:element minOccurs="0" name="TextData" nillable="true" type="tns:ArrayOfTextData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SurveyOptionMetaData" nillable="true" type="tns:SurveyOptionMetaData" />
  <xs:complexType name="ServiceOperationResultOfArrayOfSurveyListItemVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfSurveyListItem" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:ArrayOfSurveyListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfArrayOfSurveyListItemVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfArrayOfSurveyListItemVUqw3SxC" />
  <xs:complexType name="ArrayOfSurveyListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SurveyListItem" nillable="true" type="tns:SurveyListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSurveyListItem" nillable="true" type="tns:ArrayOfSurveyListItem" />
  <xs:complexType name="SurveyListItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChildItems" nillable="true" type="tns:ArrayOfSurveyListItem" />
      <xs:element minOccurs="0" name="ChildrenCount" type="xs:int" />
      <xs:element minOccurs="0" name="CompletedResponseCount" type="xs:int" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IncompleteResponseCount" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SurveyGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="TestResponseCount" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SurveyListItem" nillable="true" type="tns:SurveyListItem" />
  <xs:complexType name="ServiceOperationResultOfPagedListResultOfArrayOfSurveyListItemVUqw3SxCVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PagedListResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies">
            <GenericParameter Name="ArrayOfSurveyListItem" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:PagedListResultOfArrayOfSurveyListItemVUqw3SxC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfPagedListResultOfArrayOfSurveyListItemVUqw3SxCVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfPagedListResultOfArrayOfSurveyListItemVUqw3SxCVUqw3SxC" />
  <xs:complexType name="PagedListResultOfArrayOfSurveyListItemVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PagedListResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfSurveyListItem" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultPage" nillable="true" type="tns:ArrayOfSurveyListItem" />
      <xs:element minOccurs="0" name="TotalItemCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedListResultOfArrayOfSurveyListItemVUqw3SxC" nillable="true" type="tns:PagedListResultOfArrayOfSurveyListItemVUqw3SxC" />
  <xs:complexType name="ServiceOperationResultOfSurveyListItemVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SurveyListItem" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:SurveyListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfSurveyListItemVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfSurveyListItemVUqw3SxC" />
  <xs:complexType name="ServiceOperationResultOfSurveyMetaDataVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SurveyMetaData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:SurveyMetaData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfSurveyMetaDataVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfSurveyMetaDataVUqw3SxC" />
  <xs:complexType name="SurveyMetaData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivationEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ActivationStartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AllowEdit" type="xs:boolean" />
      <xs:element minOccurs="0" name="AllowFormReset" type="xs:boolean" />
      <xs:element minOccurs="0" name="AllowResume" type="xs:boolean" />
      <xs:element minOccurs="0" name="AllowSurveyEditWhileActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="AnonymizeResponses" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanAssignStyleTemplates" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanChangeLanguages" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DefaultLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisableBackButton" type="xs:boolean" />
      <xs:element minOccurs="0" name="EnableScoring" type="xs:boolean" />
      <xs:element minOccurs="0" name="Guid" type="ser:guid" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsAvailable" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ItemIds" nillable="true" type="q2:ArrayOfint" />
      <xs:element minOccurs="0" name="LanguageSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LanguageSourceToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MaxResponsesPerUser" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MaxTotalResponses" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NotAvailableCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PageIds" nillable="true" type="q3:ArrayOfint" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RandomizeItems" type="xs:boolean" />
      <xs:element minOccurs="0" name="SecurityType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowAsterisks" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowInputErrorAlert" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowInvitationSubtabs" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowItemNumbers" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowPageNumbers" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowProgressBar" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowSaveAndQuit" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowTitle" type="xs:boolean" />
      <xs:element minOccurs="0" name="SmartPhoneStyleTemplateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StyleTemplateID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SupportedLanguages" nillable="true" type="tns:SimpleNameValueCollection" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SurveyUrls" nillable="true" type="q4:ArrayOfstring" />
      <xs:element minOccurs="0" name="TabletStyleTemplateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseDynamicItemNumbers" type="xs:boolean" />
      <xs:element minOccurs="0" name="UseDynamicPageNumbers" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SurveyMetaData" nillable="true" type="tns:SurveyMetaData" />
  <xs:complexType name="ServiceOperationResultOfanyType">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="anyType" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfanyType" nillable="true" type="tns:ServiceOperationResultOfanyType" />
  <xs:complexType name="ServiceOperationResultOfSurveyPageMetaDataVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SurveyPageMetaData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:SurveyPageMetaData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfSurveyPageMetaDataVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfSurveyPageMetaDataVUqw3SxC" />
  <xs:complexType name="SurveyPageMetaData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PageMetaData">
        <xs:sequence>
          <xs:element minOccurs="0" name="LayoutTemplateId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PageType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SurveyPageMetaData" nillable="true" type="tns:SurveyPageMetaData" />
  <xs:complexType name="PageMetaData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ItemIds" nillable="true" type="q5:ArrayOfint" />
      <xs:element minOccurs="0" name="Position" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageMetaData" nillable="true" type="tns:PageMetaData" />
  <xs:complexType name="ServiceOperationResultOfQuestionResultVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="QuestionResult" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:QuestionResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfQuestionResultVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfQuestionResultVUqw3SxC" />
  <xs:complexType name="QuestionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Yes" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionResult" nillable="true" type="tns:QuestionResult" />
  <xs:complexType name="ServiceOperationResultOfRuleMetaDataVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RuleMetaData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:RuleMetaData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfRuleMetaDataVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfRuleMetaDataVUqw3SxC" />
  <xs:complexType name="RuleMetaData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchTargetPosition" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OrExpressions" nillable="true" type="tns:ArrayOfExpressionMetaData" />
      <xs:element minOccurs="0" name="RuleAction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RuleId" type="xs:int" />
      <xs:element minOccurs="0" name="TotalConditionsCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RuleMetaData" nillable="true" type="tns:RuleMetaData" />
  <xs:complexType name="ArrayOfExpressionMetaData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpressionMetaData" nillable="true" type="tns:ExpressionMetaData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpressionMetaData" nillable="true" type="tns:ArrayOfExpressionMetaData" />
  <xs:complexType name="ExpressionMetaData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AndExpressions" nillable="true" type="tns:ArrayOfExpressionMetaData" />
      <xs:element minOccurs="0" name="ExpressionId" type="xs:int" />
      <xs:element minOccurs="0" name="LeftOperandText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RightOperandText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpressionMetaData" nillable="true" type="tns:ExpressionMetaData" />
  <xs:complexType name="ServiceOperationResultOfArrayOfRuleMetaDataVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfRuleMetaData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:ArrayOfRuleMetaData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfArrayOfRuleMetaDataVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfArrayOfRuleMetaDataVUqw3SxC" />
  <xs:complexType name="ArrayOfRuleMetaData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RuleMetaData" nillable="true" type="tns:RuleMetaData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRuleMetaData" nillable="true" type="tns:ArrayOfRuleMetaData" />
  <xs:complexType name="ServiceOperationResultOfPagedListResultOfArrayOfStyleListItemVUqw3SxCVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PagedListResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies">
            <GenericParameter Name="ArrayOfStyleListItem" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:PagedListResultOfArrayOfStyleListItemVUqw3SxC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfPagedListResultOfArrayOfStyleListItemVUqw3SxCVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfPagedListResultOfArrayOfStyleListItemVUqw3SxCVUqw3SxC" />
  <xs:complexType name="PagedListResultOfArrayOfStyleListItemVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PagedListResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfStyleListItem" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultPage" nillable="true" type="tns:ArrayOfStyleListItem" />
      <xs:element minOccurs="0" name="TotalItemCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedListResultOfArrayOfStyleListItemVUqw3SxC" nillable="true" type="tns:PagedListResultOfArrayOfStyleListItemVUqw3SxC" />
  <xs:complexType name="ArrayOfStyleListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StyleListItem" nillable="true" type="tns:StyleListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStyleListItem" nillable="true" type="tns:ArrayOfStyleListItem" />
  <xs:complexType name="StyleListItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CanBeEdited" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsDefault" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsInUse" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StyleListItem" nillable="true" type="tns:StyleListItem" />
  <xs:complexType name="ServiceOperationResultOfPagedListResultOfArrayOfLibraryDataVUqw3SxCVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PagedListResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies">
            <GenericParameter Name="ArrayOfLibraryData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:PagedListResultOfArrayOfLibraryDataVUqw3SxC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfPagedListResultOfArrayOfLibraryDataVUqw3SxCVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfPagedListResultOfArrayOfLibraryDataVUqw3SxCVUqw3SxC" />
  <xs:complexType name="PagedListResultOfArrayOfLibraryDataVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PagedListResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfLibraryData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultPage" nillable="true" type="tns:ArrayOfLibraryData" />
      <xs:element minOccurs="0" name="TotalItemCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedListResultOfArrayOfLibraryDataVUqw3SxC" nillable="true" type="tns:PagedListResultOfArrayOfLibraryDataVUqw3SxC" />
  <xs:complexType name="ArrayOfLibraryData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LibraryData" nillable="true" type="tns:LibraryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLibraryData" nillable="true" type="tns:ArrayOfLibraryData" />
  <xs:complexType name="LibraryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DatabaseId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ItemIds" nillable="true" type="q6:ArrayOfint" />
      <xs:element minOccurs="0" name="LastModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LibraryData" nillable="true" type="tns:LibraryData" />
  <xs:complexType name="ServiceOperationResultOfLibraryDataVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="LibraryData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:LibraryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfLibraryDataVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfLibraryDataVUqw3SxC" />
  <xs:complexType name="ServiceOperationResultOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfboolean" nillable="true" type="tns:ServiceOperationResultOfboolean" />
  <xs:complexType name="ServiceOperationResultOfArrayOfGroupedResultOfSurveyListItemVUqw3SxCVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfGroupedResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies">
            <GenericParameter Name="SurveyListItem" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:ArrayOfGroupedResultOfSurveyListItemVUqw3SxC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfArrayOfGroupedResultOfSurveyListItemVUqw3SxCVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfArrayOfGroupedResultOfSurveyListItemVUqw3SxCVUqw3SxC" />
  <xs:complexType name="ArrayOfGroupedResultOfSurveyListItemVUqw3SxC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupedResultOfSurveyListItemVUqw3SxC" nillable="true" type="tns:GroupedResultOfSurveyListItemVUqw3SxC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupedResultOfSurveyListItemVUqw3SxC" nillable="true" type="tns:ArrayOfGroupedResultOfSurveyListItemVUqw3SxC" />
  <xs:complexType name="GroupedResultOfSurveyListItemVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GroupedResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SurveyListItem" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupResults" nillable="true" type="tns:ArrayOfSurveyListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupedResultOfSurveyListItemVUqw3SxC" nillable="true" type="tns:GroupedResultOfSurveyListItemVUqw3SxC" />
</xs:schema>