ResponseExport/ResponseExport/Service References/SurveyManagementService/SurveyManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SurveyManagementService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dev.checkbox.com/Services/SurveyManagementService.svc?xsd=xsd3" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dev.checkbox.com/Services/SurveyManagementService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dev.checkbox.com/Services/SurveyManagementService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
      <xsd:import schemaLocation="http://dev.checkbox.com/Services/SurveyManagementService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISurveyManagementService_ListSurveysAndFolders_InputMessage">
    <wsdl:part name="parameters" element="tns:ListSurveysAndFolders" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_ListSurveysAndFolders_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListSurveysAndFoldersResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_ListAvailableSurveys_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAvailableSurveys" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_ListAvailableSurveys_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAvailableSurveysResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_GetSurveyListItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSurveyListItem" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_GetSurveyListItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSurveyListItemResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_GetSurveyMetaData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSurveyMetaData" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_GetSurveyMetaData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSurveyMetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_GetSurveyInfoByGuid_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSurveyInfoByGuid" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_GetSurveyInfoByGuid_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSurveyInfoByGuidResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_GetSurveyInfoByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSurveyInfoByName" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_GetSurveyInfoByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSurveyInfoByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_AddUserToSurveyAccessList_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserToSurveyAccessList" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_AddUserToSurveyAccessList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserToSurveyAccessListResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_GetSurveyPageData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSurveyPageData" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_GetSurveyPageData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSurveyPageDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_IfAlternateUrlIsAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:IfAlternateUrlIsAvailable" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_IfAlternateUrlIsAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:IfAlternateUrlIsAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_GetSurveyItemData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSurveyItemData" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_GetSurveyItemData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSurveyItemDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_GetConditionDataForSurveyPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConditionDataForSurveyPage" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_GetConditionDataForSurveyPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConditionDataForSurveyPageResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_GetBranchDataForSurveyPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBranchDataForSurveyPage" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_GetBranchDataForSurveyPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBranchDataForSurveyPageResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_GetConditionDataForSurveyItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConditionDataForSurveyItem" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_GetConditionDataForSurveyItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConditionDataForSurveyItemResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_GetLibraryItemData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLibraryItemData" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_GetLibraryItemData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLibraryItemDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_ListSurveyStyleTemplates_InputMessage">
    <wsdl:part name="parameters" element="tns:ListSurveyStyleTemplates" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_ListSurveyStyleTemplates_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListSurveyStyleTemplatesResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_ListItemLibraries_InputMessage">
    <wsdl:part name="parameters" element="tns:ListItemLibraries" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_ListItemLibraries_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListItemLibrariesResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_GetLibraryData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLibraryData" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_GetLibraryData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLibraryDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_DeleteFolder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFolder" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_DeleteFolder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFolderResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_DeleteSurvey_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSurvey" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_DeleteSurvey_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSurveyResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_DeleteLibraries_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLibraries" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_DeleteLibraries_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLibrariesResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_MoveSurveyItem_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveSurveyItem" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_MoveSurveyItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveSurveyItemResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_AddSurveyPage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSurveyPage" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_AddSurveyPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSurveyPageResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_MoveSurveyPage_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveSurveyPage" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_MoveSurveyPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveSurveyPageResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_CopySurveyPage_InputMessage">
    <wsdl:part name="parameters" element="tns:CopySurveyPage" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_CopySurveyPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopySurveyPageResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_DeleteSurveyPage_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSurveyPage" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_DeleteSurveyPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSurveyPageResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_DeleteSurveyItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSurveyItem" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_DeleteSurveyItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSurveyItemResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_AddResponsePipeToSurvey_InputMessage">
    <wsdl:part name="parameters" element="tns:AddResponsePipeToSurvey" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_AddResponsePipeToSurvey_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponsePipeToSurveyResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="ISurveyManagementService_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:portType name="ISurveyManagementService">
    <wsdl:operation name="ListSurveysAndFolders">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyManagementService/ListSurveysAndFolders" message="tns:ISurveyManagementService_ListSurveysAndFolders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyManagementService/ListSurveysAndFoldersResponse" message="tns:ISurveyManagementService_ListSurveysAndFolders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListAvailableSurveys">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyManagementService/ListAvailableSurveys" message="tns:ISurveyManagementService_ListAvailableSurveys_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyManagementService/ListAvailableSurveysResponse" message="tns:ISurveyManagementService_ListAvailableSurveys_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSurveyListItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyManagementService/GetSurveyListItem" message="tns:ISurveyManagementService_GetSurveyListItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyManagementService/GetSurveyListItemResponse" message="tns:ISurveyManagementService_GetSurveyListItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSurveyMetaData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyManagementService/GetSurveyMetaData" message="tns:ISurveyManagementService_GetSurveyMetaData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyManagementService/GetSurveyMetaDataResponse" message="tns:ISurveyManagementService_GetSurveyMetaData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSurveyInfoByGuid">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyManagementService/GetSurveyInfoByGuid" message="tns:ISurveyManagementService_GetSurveyInfoByGuid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyManagementService/GetSurveyInfoByGuidResponse" message="tns:ISurveyManagementService_GetSurveyInfoByGuid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSurveyInfoByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyManagementService/GetSurveyInfoByName" message="tns:ISurveyManagementService_GetSurveyInfoByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyManagementService/GetSurveyInfoByNameResponse" message="tns:ISurveyManagementService_GetSurveyInfoByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserToSurveyAccessList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyManagementService/AddUserToSurveyAccessList" message="tns:ISurveyManagementService_AddUserToSurveyAccessList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyManagementService/AddUserToSurveyAccessListResponse" message="tns:ISurveyManagementService_AddUserToSurveyAccessList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSurveyPageData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyManagementService/GetSurveyPageData" message="tns:ISurveyManagementService_GetSurveyPageData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyManagementService/GetSurveyPageDataResponse" message="tns:ISurveyManagementService_GetSurveyPageData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IfAlternateUrlIsAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyManagementService/IfAlternateUrlIsAvailable" message="tns:ISurveyManagementService_IfAlternateUrlIsAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyManagementService/IfAlternateUrlIsAvailableResponse" message="tns:ISurveyManagementService_IfAlternateUrlIsAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSurveyItemData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyManagementService/GetSurveyItemData" message="tns:ISurveyManagementService_GetSurveyItemData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyManagementService/GetSurveyItemDataResponse" message="tns:ISurveyManagementService_GetSurveyItemData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConditionDataForSurveyPage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyManagementService/GetConditionDataForSurveyPage" message="tns:ISurveyManagementService_GetConditionDataForSurveyPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyManagementService/GetConditionDataForSurveyPageResponse" message="tns:ISurveyManagementService_GetConditionDataForSurveyPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBranchDataForSurveyPage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyManagementService/GetBranchDataForSurveyPage" message="tns:ISurveyManagementService_GetBranchDataForSurveyPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyManagementService/GetBranchDataForSurveyPageResponse" message="tns:ISurveyManagementService_GetBranchDataForSurveyPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConditionDataForSurveyItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyManagementService/GetConditionDataForSurveyItem" message="tns:ISurveyManagementService_GetConditionDataForSurveyItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyManagementService/GetConditionDataForSurveyItemResponse" message="tns:ISurveyManagementService_GetConditionDataForSurveyItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLibraryItemData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyManagementService/GetLibraryItemData" message="tns:ISurveyManagementService_GetLibraryItemData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyManagementService/GetLibraryItemDataResponse" message="tns:ISurveyManagementService_GetLibraryItemData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListSurveyStyleTemplates">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyManagementService/ListSurveyStyleTemplates" message="tns:ISurveyManagementService_ListSurveyStyleTemplates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyManagementService/ListSurveyStyleTemplatesResponse" message="tns:ISurveyManagementService_ListSurveyStyleTemplates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListItemLibraries">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyManagementService/ListItemLibraries" message="tns:ISurveyManagementService_ListItemLibraries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyManagementService/ListItemLibrariesResponse" message="tns:ISurveyManagementService_ListItemLibraries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLibraryData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyManagementService/GetLibraryData" message="tns:ISurveyManagementService_GetLibraryData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyManagementService/GetLibraryDataResponse" message="tns:ISurveyManagementService_GetLibraryData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFolder">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyManagementService/DeleteFolder" message="tns:ISurveyManagementService_DeleteFolder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyManagementService/DeleteFolderResponse" message="tns:ISurveyManagementService_DeleteFolder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSurvey">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyManagementService/DeleteSurvey" message="tns:ISurveyManagementService_DeleteSurvey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyManagementService/DeleteSurveyResponse" message="tns:ISurveyManagementService_DeleteSurvey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLibraries">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyManagementService/DeleteLibraries" message="tns:ISurveyManagementService_DeleteLibraries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyManagementService/DeleteLibrariesResponse" message="tns:ISurveyManagementService_DeleteLibraries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveSurveyItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyManagementService/MoveSurveyItem" message="tns:ISurveyManagementService_MoveSurveyItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyManagementService/MoveSurveyItemResponse" message="tns:ISurveyManagementService_MoveSurveyItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSurveyPage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyManagementService/AddSurveyPage" message="tns:ISurveyManagementService_AddSurveyPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyManagementService/AddSurveyPageResponse" message="tns:ISurveyManagementService_AddSurveyPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveSurveyPage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyManagementService/MoveSurveyPage" message="tns:ISurveyManagementService_MoveSurveyPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyManagementService/MoveSurveyPageResponse" message="tns:ISurveyManagementService_MoveSurveyPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CopySurveyPage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyManagementService/CopySurveyPage" message="tns:ISurveyManagementService_CopySurveyPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyManagementService/CopySurveyPageResponse" message="tns:ISurveyManagementService_CopySurveyPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSurveyPage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyManagementService/DeleteSurveyPage" message="tns:ISurveyManagementService_DeleteSurveyPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyManagementService/DeleteSurveyPageResponse" message="tns:ISurveyManagementService_DeleteSurveyPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSurveyItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyManagementService/DeleteSurveyItem" message="tns:ISurveyManagementService_DeleteSurveyItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyManagementService/DeleteSurveyItemResponse" message="tns:ISurveyManagementService_DeleteSurveyItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddResponsePipeToSurvey">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyManagementService/AddResponsePipeToSurvey" message="tns:ISurveyManagementService_AddResponsePipeToSurvey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyManagementService/AddResponsePipeToSurveyResponse" message="tns:ISurveyManagementService_AddResponsePipeToSurvey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyManagementService/Search" message="tns:ISurveyManagementService_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyManagementService/SearchResponse" message="tns:ISurveyManagementService_Search_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISurveyManagementService" type="tns:ISurveyManagementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListSurveysAndFolders">
      <soap:operation soapAction="http://tempuri.org/ISurveyManagementService/ListSurveysAndFolders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAvailableSurveys">
      <soap:operation soapAction="http://tempuri.org/ISurveyManagementService/ListAvailableSurveys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSurveyListItem">
      <soap:operation soapAction="http://tempuri.org/ISurveyManagementService/GetSurveyListItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSurveyMetaData">
      <soap:operation soapAction="http://tempuri.org/ISurveyManagementService/GetSurveyMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSurveyInfoByGuid">
      <soap:operation soapAction="http://tempuri.org/ISurveyManagementService/GetSurveyInfoByGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSurveyInfoByName">
      <soap:operation soapAction="http://tempuri.org/ISurveyManagementService/GetSurveyInfoByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToSurveyAccessList">
      <soap:operation soapAction="http://tempuri.org/ISurveyManagementService/AddUserToSurveyAccessList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSurveyPageData">
      <soap:operation soapAction="http://tempuri.org/ISurveyManagementService/GetSurveyPageData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IfAlternateUrlIsAvailable">
      <soap:operation soapAction="http://tempuri.org/ISurveyManagementService/IfAlternateUrlIsAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSurveyItemData">
      <soap:operation soapAction="http://tempuri.org/ISurveyManagementService/GetSurveyItemData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConditionDataForSurveyPage">
      <soap:operation soapAction="http://tempuri.org/ISurveyManagementService/GetConditionDataForSurveyPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBranchDataForSurveyPage">
      <soap:operation soapAction="http://tempuri.org/ISurveyManagementService/GetBranchDataForSurveyPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConditionDataForSurveyItem">
      <soap:operation soapAction="http://tempuri.org/ISurveyManagementService/GetConditionDataForSurveyItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLibraryItemData">
      <soap:operation soapAction="http://tempuri.org/ISurveyManagementService/GetLibraryItemData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListSurveyStyleTemplates">
      <soap:operation soapAction="http://tempuri.org/ISurveyManagementService/ListSurveyStyleTemplates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListItemLibraries">
      <soap:operation soapAction="http://tempuri.org/ISurveyManagementService/ListItemLibraries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLibraryData">
      <soap:operation soapAction="http://tempuri.org/ISurveyManagementService/GetLibraryData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFolder">
      <soap:operation soapAction="http://tempuri.org/ISurveyManagementService/DeleteFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSurvey">
      <soap:operation soapAction="http://tempuri.org/ISurveyManagementService/DeleteSurvey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLibraries">
      <soap:operation soapAction="http://tempuri.org/ISurveyManagementService/DeleteLibraries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveSurveyItem">
      <soap:operation soapAction="http://tempuri.org/ISurveyManagementService/MoveSurveyItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSurveyPage">
      <soap:operation soapAction="http://tempuri.org/ISurveyManagementService/AddSurveyPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveSurveyPage">
      <soap:operation soapAction="http://tempuri.org/ISurveyManagementService/MoveSurveyPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopySurveyPage">
      <soap:operation soapAction="http://tempuri.org/ISurveyManagementService/CopySurveyPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSurveyPage">
      <soap:operation soapAction="http://tempuri.org/ISurveyManagementService/DeleteSurveyPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSurveyItem">
      <soap:operation soapAction="http://tempuri.org/ISurveyManagementService/DeleteSurveyItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddResponsePipeToSurvey">
      <soap:operation soapAction="http://tempuri.org/ISurveyManagementService/AddResponsePipeToSurvey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/ISurveyManagementService/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SurveyManagementService">
    <wsdl:port name="BasicHttpBinding_ISurveyManagementService" binding="tns:BasicHttpBinding_ISurveyManagementService">
      <soap:address location="http://dev.checkbox.com/Services/SurveyManagementService.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>