C#/EmailListExporter/EmailListExporter/Service References/AuthService/AuthenticationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceOperationResultOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfboolean" nillable="true" type="tns:ServiceOperationResultOfboolean" />
  <xs:complexType name="ServiceOperationResultOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfstring" nillable="true" type="tns:ServiceOperationResultOfstring" />
  <xs:complexType name="ServiceOperationResultOfanyType">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="anyType" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfanyType" nillable="true" type="tns:ServiceOperationResultOfanyType" />
</xs:schema>