UserManagement/UserManagement/Service References/UserManagementService/Checkbox.Wcf.Services.Proxies.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ServiceOperationResultOfArrayOfstringuHEDJ7Dj">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfstring" Namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ResultData" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfArrayOfstringuHEDJ7Dj" nillable="true" type="tns:ServiceOperationResultOfArrayOfstringuHEDJ7Dj" />
  <xs:complexType name="ServiceOperationResultOfArrayOfAclEntryVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfAclEntry" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:ArrayOfAclEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfArrayOfAclEntryVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfArrayOfAclEntryVUqw3SxC" />
  <xs:complexType name="ArrayOfAclEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AclEntry" nillable="true" type="tns:AclEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAclEntry" nillable="true" type="tns:ArrayOfAclEntry" />
  <xs:complexType name="AclEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="AclPolicyId" type="xs:int" />
      <xs:element minOccurs="0" name="EntryIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntryType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullEntryIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortEntryIdentifier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AclEntry" nillable="true" type="tns:AclEntry" />
  <xs:complexType name="ServiceOperationResultOfUserGroupDataVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UserGroupData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:UserGroupData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfUserGroupDataVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfUserGroupDataVUqw3SxC" />
  <xs:complexType name="UserGroupData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatabaseId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberCount" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserGroupData" nillable="true" type="tns:UserGroupData" />
  <xs:complexType name="ServiceOperationResultOfPagedListResultOfArrayOfUserDataVUqw3SxCVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PagedListResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies">
            <GenericParameter Name="ArrayOfUserData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:PagedListResultOfArrayOfUserDataVUqw3SxC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfPagedListResultOfArrayOfUserDataVUqw3SxCVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfPagedListResultOfArrayOfUserDataVUqw3SxCVUqw3SxC" />
  <xs:complexType name="PagedListResultOfArrayOfUserDataVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PagedListResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfUserData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultPage" nillable="true" type="tns:ArrayOfUserData" />
      <xs:element minOccurs="0" name="TotalItemCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedListResultOfArrayOfUserDataVUqw3SxC" nillable="true" type="tns:PagedListResultOfArrayOfUserDataVUqw3SxC" />
  <xs:complexType name="ArrayOfUserData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserData" nillable="true" type="tns:UserData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserData" nillable="true" type="tns:ArrayOfUserData" />
  <xs:complexType name="UserData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthenticationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EscapedUniqueIdentifier" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GroupMemberships" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="LockedOut" type="xs:boolean" />
      <xs:element minOccurs="0" name="Profile" nillable="true" type="tns:SimpleNameValueCollection" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RoleMemberships" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="UniqueIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserGuid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserData" nillable="true" type="tns:UserData" />
  <xs:complexType name="SimpleNameValueCollection">
    <xs:sequence>
      <xs:element minOccurs="0" name="NameValueList" nillable="true" type="tns:ArrayOfSimpleNameValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimpleNameValueCollection" nillable="true" type="tns:SimpleNameValueCollection" />
  <xs:complexType name="ArrayOfSimpleNameValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SimpleNameValue" nillable="true" type="tns:SimpleNameValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSimpleNameValue" nillable="true" type="tns:ArrayOfSimpleNameValue" />
  <xs:complexType name="SimpleNameValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimpleNameValue" nillable="true" type="tns:SimpleNameValue" />
  <xs:complexType name="ServiceOperationResultOfArrayOfGroupedResultOfUserDataVUqw3SxCVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfGroupedResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies">
            <GenericParameter Name="UserData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:ArrayOfGroupedResultOfUserDataVUqw3SxC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfArrayOfGroupedResultOfUserDataVUqw3SxCVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfArrayOfGroupedResultOfUserDataVUqw3SxCVUqw3SxC" />
  <xs:complexType name="ArrayOfGroupedResultOfUserDataVUqw3SxC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupedResultOfUserDataVUqw3SxC" nillable="true" type="tns:GroupedResultOfUserDataVUqw3SxC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupedResultOfUserDataVUqw3SxC" nillable="true" type="tns:ArrayOfGroupedResultOfUserDataVUqw3SxC" />
  <xs:complexType name="GroupedResultOfUserDataVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GroupedResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UserData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupResults" nillable="true" type="tns:ArrayOfUserData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupedResultOfUserDataVUqw3SxC" nillable="true" type="tns:GroupedResultOfUserDataVUqw3SxC" />
  <xs:complexType name="ServiceOperationResultOfArrayOfGroupedResultOfUserGroupDataVUqw3SxCVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfGroupedResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies">
            <GenericParameter Name="UserGroupData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:ArrayOfGroupedResultOfUserGroupDataVUqw3SxC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfArrayOfGroupedResultOfUserGroupDataVUqw3SxCVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfArrayOfGroupedResultOfUserGroupDataVUqw3SxCVUqw3SxC" />
  <xs:complexType name="ArrayOfGroupedResultOfUserGroupDataVUqw3SxC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupedResultOfUserGroupDataVUqw3SxC" nillable="true" type="tns:GroupedResultOfUserGroupDataVUqw3SxC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupedResultOfUserGroupDataVUqw3SxC" nillable="true" type="tns:ArrayOfGroupedResultOfUserGroupDataVUqw3SxC" />
  <xs:complexType name="GroupedResultOfUserGroupDataVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GroupedResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UserGroupData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupResults" nillable="true" type="tns:ArrayOfUserGroupData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupedResultOfUserGroupDataVUqw3SxC" nillable="true" type="tns:GroupedResultOfUserGroupDataVUqw3SxC" />
  <xs:complexType name="ArrayOfUserGroupData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserGroupData" nillable="true" type="tns:UserGroupData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserGroupData" nillable="true" type="tns:ArrayOfUserGroupData" />
  <xs:complexType name="ServiceOperationResultOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfstring" nillable="true" type="tns:ServiceOperationResultOfstring" />
  <xs:complexType name="ServiceOperationResultOfUserDataVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UserData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:UserData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfUserDataVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfUserDataVUqw3SxC" />
  <xs:complexType name="ServiceOperationResultOfPagedListResultOfArrayOfstringuHEDJ7DjVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PagedListResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies">
            <GenericParameter Name="ArrayOfstring" Namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:PagedListResultOfArrayOfstringuHEDJ7Dj" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfPagedListResultOfArrayOfstringuHEDJ7DjVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfPagedListResultOfArrayOfstringuHEDJ7DjVUqw3SxC" />
  <xs:complexType name="PagedListResultOfArrayOfstringuHEDJ7Dj">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PagedListResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfstring" Namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ResultPage" nillable="true" type="q4:ArrayOfstring" />
      <xs:element minOccurs="0" name="TotalItemCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedListResultOfArrayOfstringuHEDJ7Dj" nillable="true" type="tns:PagedListResultOfArrayOfstringuHEDJ7Dj" />
  <xs:complexType name="ServiceOperationResultOfSimpleNameValueCollectionVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SimpleNameValueCollection" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:SimpleNameValueCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfSimpleNameValueCollectionVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfSimpleNameValueCollectionVUqw3SxC" />
  <xs:complexType name="ServiceOperationResultOfanyType">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="anyType" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfanyType" nillable="true" type="tns:ServiceOperationResultOfanyType" />
  <xs:complexType name="ServiceOperationResultOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfboolean" nillable="true" type="tns:ServiceOperationResultOfboolean" />
  <xs:complexType name="ServiceOperationResultOfArrayOfRoleDataVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfRoleData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:ArrayOfRoleData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfArrayOfRoleDataVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfArrayOfRoleDataVUqw3SxC" />
  <xs:complexType name="ArrayOfRoleData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleData" nillable="true" type="tns:RoleData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleData" nillable="true" type="tns:ArrayOfRoleData" />
  <xs:complexType name="RoleData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Permissions" nillable="true" type="q5:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoleData" nillable="true" type="tns:RoleData" />
  <xs:complexType name="ServiceOperationResultOfPagedListResultOfArrayOfUserGroupDataVUqw3SxCVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PagedListResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies">
            <GenericParameter Name="ArrayOfUserGroupData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:PagedListResultOfArrayOfUserGroupDataVUqw3SxC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfPagedListResultOfArrayOfUserGroupDataVUqw3SxCVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfPagedListResultOfArrayOfUserGroupDataVUqw3SxCVUqw3SxC" />
  <xs:complexType name="PagedListResultOfArrayOfUserGroupDataVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PagedListResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfUserGroupData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultPage" nillable="true" type="tns:ArrayOfUserGroupData" />
      <xs:element minOccurs="0" name="TotalItemCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedListResultOfArrayOfUserGroupDataVUqw3SxC" nillable="true" type="tns:PagedListResultOfArrayOfUserGroupDataVUqw3SxC" />
  <xs:complexType name="ServiceOperationResultOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfint" nillable="true" type="tns:ServiceOperationResultOfint" />
  <xs:complexType name="ServiceOperationResultOfArrayOfintuHEDJ7Dj">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfint" Namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ResultData" nillable="true" type="q6:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfArrayOfintuHEDJ7Dj" nillable="true" type="tns:ServiceOperationResultOfArrayOfintuHEDJ7Dj" />
</xs:schema>