.NET Samples/ResponseExport-Console/ResponseExport-Console/Service References/RespService/ResponseDataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://beta.checkboxonline.com/Services/ResponseDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Contracts.Data.Common" />
  <xs:import schemaLocation="http://beta.checkboxonline.com/Services/ResponseDataService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://beta.checkboxonline.com/Services/ResponseDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetSurveyResponseSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authTicket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surveyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSurveyResponseSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Contracts.Data.Common" minOccurs="0" name="GetSurveyResponseSummaryResult" nillable="true" type="q1:ServiceOperationResultOfResponseSummaryDataehVPM0kh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRecentSurveyResponses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authTicket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surveyId" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRecentSurveyResponsesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Contracts.Data.Common" minOccurs="0" name="ListRecentSurveyResponsesResult" nillable="true" type="q2:ServiceOperationResultOfArrayOfResponseDatadc4u5pFJ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponseAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surveyId" type="xs:int" />
        <xs:element minOccurs="0" name="responseId" type="xs:long" />
        <xs:element minOccurs="0" name="answerId" type="xs:long" />
        <xs:element minOccurs="0" name="answerText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="optionID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="dateCreated" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponseAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Contracts.Data.Common" minOccurs="0" name="UpdateResponseAnswerResult" nillable="true" type="q3:ServiceOperationResultOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSurveyResponses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authTicket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surveyId" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="resultsPerPage" type="xs:int" />
        <xs:element minOccurs="0" name="filterField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortAscending" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSurveyResponsesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Contracts.Data.Common" minOccurs="0" name="ListSurveyResponsesResult" nillable="true" type="q4:ServiceOperationResultOfPagedListResultOfArrayOfResponseDatadc4u5pFJdc4u5pFJ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSurveyResponsesByPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authTicket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surveyId" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="resultsPerPage" type="xs:int" />
        <xs:element minOccurs="0" name="filterField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortAscending" type="xs:boolean" />
        <xs:element minOccurs="0" name="period" type="xs:int" />
        <xs:element minOccurs="0" name="dateFieldName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSurveyResponsesByPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Contracts.Data.Common" minOccurs="0" name="ListSurveyResponsesByPeriodResult" nillable="true" type="q5:ServiceOperationResultOfPagedListResultOfArrayOfResponseDatadc4u5pFJdc4u5pFJ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListFilteredSurveyResponsesByPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authTicket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surveyId" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="resultsPerPage" type="xs:int" />
        <xs:element minOccurs="0" name="filterField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortAscending" type="xs:boolean" />
        <xs:element minOccurs="0" name="period" type="xs:int" />
        <xs:element minOccurs="0" name="dateFieldName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListFilteredSurveyResponsesByPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Contracts.Data.Common" minOccurs="0" name="ListFilteredSurveyResponsesByPeriodResult" nillable="true" type="q6:ServiceOperationResultOfPagedListResultOfArrayOfResponseDatadc4u5pFJdc4u5pFJ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSurveyResponses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authTicket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surveyId" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="responseList" nillable="true" type="q7:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSurveyResponsesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Contracts.Data.Common" minOccurs="0" name="DeleteSurveyResponsesResult" nillable="true" type="q8:ServiceOperationResultOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllSurveyResponses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authTicket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surveyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllSurveyResponsesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Contracts.Data.Common" minOccurs="0" name="DeleteAllSurveyResponsesResult" nillable="true" type="q9:ServiceOperationResultOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllSurveyTestResponses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authTicket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surveyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllSurveyTestResponsesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Contracts.Data.Common" minOccurs="0" name="DeleteAllSurveyTestResponsesResult" nillable="true" type="q10:ServiceOperationResultOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authTicket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchTerm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Contracts.Data.Common" minOccurs="0" name="SearchResult" nillable="true" type="q11:ServiceOperationResultOfArrayOfGroupedResultOfResponseDatadc4u5pFJdc4u5pFJ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLifecycleResponseDataInMonths">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authTicket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surveyId" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfRecentMonths" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLifecycleResponseDataInMonthsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Contracts.Data.Common" minOccurs="0" name="GetLifecycleResponseDataInMonthsResult" nillable="true" type="q12:ServiceOperationResultOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLifecycleResponseDataInDays">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authTicket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surveyId" type="xs:int" />
        <xs:element minOccurs="0" name="periodLengthInDays" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfPeriods" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLifecycleResponseDataInDaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Contracts.Data.Common" minOccurs="0" name="GetLifecycleResponseDataInDaysResult" nillable="true" type="q13:ServiceOperationResultOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLifecycleAggregatedResponseDataInDays">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authTicket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surveyId" type="xs:int" />
        <xs:element minOccurs="0" name="periodLengthInDays" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfPeriods" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLifecycleAggregatedResponseDataInDaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Contracts.Data.Common" minOccurs="0" name="GetLifecycleAggregatedResponseDataInDaysResult" nillable="true" type="q14:ServiceOperationResultOfResponseAggregatedDataehVPM0kh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnswersForResponseByGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authTicket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surveyId" type="xs:int" />
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="responseGuid" type="q15:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnswersForResponseByGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Contracts.Data.Common" minOccurs="0" name="GetAnswersForResponseByGuidResult" nillable="true" type="q16:ServiceOperationResultOfArrayOfResponseItemAnswerDataehVPM0kh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportResponses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surveyId" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="resultsPerPage" type="xs:int" />
        <xs:element minOccurs="0" name="filterField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortAscending" type="xs:boolean" />
        <xs:element minOccurs="0" name="period" type="xs:int" />
        <xs:element minOccurs="0" name="dtStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dtEnd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="detailedResponseInfo" type="xs:boolean" />
        <xs:element minOccurs="0" name="detailedUserInfo" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeOpenEndedResults" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeAliases" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeHiddenItems" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeIncompleteResponses" type="xs:boolean" />
        <xs:element minOccurs="0" name="stripHTMLTagsFromAnswers" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportResponsesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Contracts.Data.Common" minOccurs="0" name="ExportResponsesResult" nillable="true" type="q17:ServiceOperationResultOfPagedListResultOfResponseExportDataehVPM0khdc4u5pFJ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportResponsesTabular">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surveyId" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="resultsPerPage" type="xs:int" />
        <xs:element minOccurs="0" name="filterField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortAscending" type="xs:boolean" />
        <xs:element minOccurs="0" name="period" type="xs:int" />
        <xs:element minOccurs="0" name="dtStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dtEnd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="detailedResponseInfo" type="xs:boolean" />
        <xs:element minOccurs="0" name="detailedUserInfo" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeOpenEndedResults" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeAliases" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeHiddenItems" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeIncompleteResponses" type="xs:boolean" />
        <xs:element minOccurs="0" name="stripHTMLTagsFromAnswers" type="xs:boolean" />
        <xs:element minOccurs="0" name="stripHTMLTagsFromQuestions" type="xs:boolean" />
        <xs:element minOccurs="0" name="mergeAnswersForSelectMany" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeScoreData" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportResponsesTabularResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Contracts.Data.Common" minOccurs="0" name="ExportResponsesTabularResult" nillable="true" type="q18:ServiceOperationResultOfPagedListResultOfTabularResponseExportDataehVPM0khdc4u5pFJ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>