C#/FTPResponseExporter/FTPResponseExporter/Service References/ResponseDataService/ResponseDataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/Services/ResponseDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8081/Services/ResponseDataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ServiceOperationResultOfResponseSummaryDataVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ResponseSummaryData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:ResponseSummaryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfResponseSummaryDataVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfResponseSummaryDataVUqw3SxC" />
  <xs:complexType name="ResponseSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompletedResponseCount" type="xs:int" />
      <xs:element minOccurs="0" name="IncompleteResponseCount" type="xs:int" />
      <xs:element minOccurs="0" name="SurveyId" type="xs:int" />
      <xs:element minOccurs="0" name="TestResponseCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseSummaryData" nillable="true" type="tns:ResponseSummaryData" />
  <xs:complexType name="ServiceOperationResultOfArrayOfResponseDataVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfResponseData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:ArrayOfResponseData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfArrayOfResponseDataVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfArrayOfResponseDataVUqw3SxC" />
  <xs:complexType name="ArrayOfResponseData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResponseData" nillable="true" type="tns:ResponseData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResponseData" nillable="true" type="tns:ArrayOfResponseData" />
  <xs:complexType name="ResponseData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnonymousRespondentGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Answers" nillable="true" type="tns:ArrayOfResponseItemAnswerData" />
      <xs:element minOccurs="0" name="CompletionDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Guid" type="ser:guid" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Invitee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAnonymized" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsTest" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastEditDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastPageViewed" type="xs:int" />
      <xs:element minOccurs="0" name="NetworkUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RespondentIp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Started" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SurveyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkflowSessionId" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseData" nillable="true" type="tns:ResponseData" />
  <xs:complexType name="ArrayOfResponseItemAnswerData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResponseItemAnswerData" nillable="true" type="tns:ResponseItemAnswerData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResponseItemAnswerData" nillable="true" type="tns:ArrayOfResponseItemAnswerData" />
  <xs:complexType name="ResponseItemAnswerData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ItemProxyObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Answers" nillable="true" type="tns:ArrayOfResponseItemAnswer" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseItemAnswerData" nillable="true" type="tns:ResponseItemAnswerData" />
  <xs:complexType name="ItemProxyObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalData" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="AppearanceData" nillable="true" type="tns:SimpleNameValueCollection" />
      <xs:element minOccurs="0" name="InstanceData" nillable="true" type="tns:SimpleNameValueCollection" />
      <xs:element minOccurs="0" name="ItemId" type="xs:int" />
      <xs:element minOccurs="0" name="Metadata" nillable="true" type="tns:SimpleNameValueCollection" />
      <xs:element minOccurs="0" name="ParentTemplateId" type="xs:int" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemProxyObject" nillable="true" type="tns:ItemProxyObject" />
  <xs:complexType name="SimpleNameValueCollection">
    <xs:sequence>
      <xs:element minOccurs="0" name="NameValueList" nillable="true" type="tns:ArrayOfSimpleNameValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimpleNameValueCollection" nillable="true" type="tns:SimpleNameValueCollection" />
  <xs:complexType name="ArrayOfSimpleNameValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SimpleNameValue" nillable="true" type="tns:SimpleNameValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSimpleNameValue" nillable="true" type="tns:ArrayOfSimpleNameValue" />
  <xs:complexType name="SimpleNameValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimpleNameValue" nillable="true" type="tns:SimpleNameValue" />
  <xs:complexType name="ArrayOfResponseItemAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResponseItemAnswer" nillable="true" type="tns:ResponseItemAnswer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResponseItemAnswer" nillable="true" type="tns:ArrayOfResponseItemAnswer" />
  <xs:complexType name="ResponseItemAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnswerId" type="xs:long" />
      <xs:element minOccurs="0" name="AnswerText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OptionText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Points" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseItemAnswer" nillable="true" type="tns:ResponseItemAnswer" />
  <xs:complexType name="ServiceOperationResultOfanyType">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="anyType" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfanyType" nillable="true" type="tns:ServiceOperationResultOfanyType" />
  <xs:complexType name="ServiceOperationResultOfPagedListResultOfArrayOfResponseDataVUqw3SxCVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PagedListResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies">
            <GenericParameter Name="ArrayOfResponseData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:PagedListResultOfArrayOfResponseDataVUqw3SxC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfPagedListResultOfArrayOfResponseDataVUqw3SxCVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfPagedListResultOfArrayOfResponseDataVUqw3SxCVUqw3SxC" />
  <xs:complexType name="PagedListResultOfArrayOfResponseDataVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PagedListResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfResponseData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultPage" nillable="true" type="tns:ArrayOfResponseData" />
      <xs:element minOccurs="0" name="TotalItemCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedListResultOfArrayOfResponseDataVUqw3SxC" nillable="true" type="tns:PagedListResultOfArrayOfResponseDataVUqw3SxC" />
  <xs:complexType name="ServiceOperationResultOfArrayOfGroupedResultOfResponseDataVUqw3SxCVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfGroupedResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies">
            <GenericParameter Name="ResponseData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:ArrayOfGroupedResultOfResponseDataVUqw3SxC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfArrayOfGroupedResultOfResponseDataVUqw3SxCVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfArrayOfGroupedResultOfResponseDataVUqw3SxCVUqw3SxC" />
  <xs:complexType name="ArrayOfGroupedResultOfResponseDataVUqw3SxC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupedResultOfResponseDataVUqw3SxC" nillable="true" type="tns:GroupedResultOfResponseDataVUqw3SxC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupedResultOfResponseDataVUqw3SxC" nillable="true" type="tns:ArrayOfGroupedResultOfResponseDataVUqw3SxC" />
  <xs:complexType name="GroupedResultOfResponseDataVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GroupedResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ResponseData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupResults" nillable="true" type="tns:ArrayOfResponseData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupedResultOfResponseDataVUqw3SxC" nillable="true" type="tns:GroupedResultOfResponseDataVUqw3SxC" />
  <xs:complexType name="ServiceOperationResultOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfstring" nillable="true" type="tns:ServiceOperationResultOfstring" />
  <xs:complexType name="ServiceOperationResultOfResponseAggregatedDataVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ResponseAggregatedData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:ResponseAggregatedData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfResponseAggregatedDataVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfResponseAggregatedDataVUqw3SxC" />
  <xs:complexType name="ResponseAggregatedData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AggregateResults" nillable="true" type="tns:ArrayOfAggregateResult" />
      <xs:element minOccurs="0" name="CompletedResponseCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseAggregatedData" nillable="true" type="tns:ResponseAggregatedData" />
  <xs:complexType name="ArrayOfAggregateResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AggregateResult" nillable="true" type="tns:AggregateResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAggregateResult" nillable="true" type="tns:ArrayOfAggregateResult" />
  <xs:complexType name="AggregateResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReportResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnswerCount" type="xs:int" />
          <xs:element minOccurs="0" name="AnswerPercent" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AggregateResult" nillable="true" type="tns:AggregateResult" />
  <xs:complexType name="ReportResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Points" type="xs:double" />
      <xs:element minOccurs="0" name="ResultIndex" type="xs:int" />
      <xs:element minOccurs="0" name="ResultKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportResult" nillable="true" type="tns:ReportResult" />
  <xs:complexType name="ServiceOperationResultOfArrayOfResponseItemAnswerDataVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfResponseItemAnswerData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:ArrayOfResponseItemAnswerData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfArrayOfResponseItemAnswerDataVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfArrayOfResponseItemAnswerDataVUqw3SxC" />
  <xs:complexType name="ServiceOperationResultOfPagedListResultOfResponseExportDataVUqw3SxCVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PagedListResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies">
            <GenericParameter Name="ResponseExportData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:PagedListResultOfResponseExportDataVUqw3SxC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfPagedListResultOfResponseExportDataVUqw3SxCVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfPagedListResultOfResponseExportDataVUqw3SxCVUqw3SxC" />
  <xs:complexType name="PagedListResultOfResponseExportDataVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PagedListResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ResponseExportData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultPage" nillable="true" type="tns:ResponseExportData" />
      <xs:element minOccurs="0" name="TotalItemCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedListResultOfResponseExportDataVUqw3SxC" nillable="true" type="tns:PagedListResultOfResponseExportDataVUqw3SxC" />
  <xs:complexType name="ResponseExportData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Respondents" nillable="true" type="tns:ArrayOfUserData" />
      <xs:element minOccurs="0" name="Responses" nillable="true" type="tns:ArrayOfResponseData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseExportData" nillable="true" type="tns:ResponseExportData" />
  <xs:complexType name="ArrayOfUserData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserData" nillable="true" type="tns:UserData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserData" nillable="true" type="tns:ArrayOfUserData" />
  <xs:complexType name="UserData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthenticationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EscapedUniqueIdentifier" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GroupMemberships" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="IsInList" type="xs:boolean" />
      <xs:element minOccurs="0" name="LockedOut" type="xs:boolean" />
      <xs:element minOccurs="0" name="Profile" nillable="true" type="tns:SimpleNameValueCollection" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RoleMemberships" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="UniqueIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserGuid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserData" nillable="true" type="tns:UserData" />
  <xs:complexType name="ServiceOperationResultOfPagedListResultOfTabularResponseExportDataVUqw3SxCVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceOperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PagedListResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies">
            <GenericParameter Name="TabularResponseExportData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="tns:PagedListResultOfTabularResponseExportDataVUqw3SxC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResultOfPagedListResultOfTabularResponseExportDataVUqw3SxCVUqw3SxC" nillable="true" type="tns:ServiceOperationResultOfPagedListResultOfTabularResponseExportDataVUqw3SxCVUqw3SxC" />
  <xs:complexType name="PagedListResultOfTabularResponseExportDataVUqw3SxC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PagedListResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TabularResponseExportData" Namespace="http://schemas.datacontract.org/2004/07/Checkbox.Wcf.Services.Proxies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultPage" nillable="true" type="tns:TabularResponseExportData" />
      <xs:element minOccurs="0" name="TotalItemCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedListResultOfTabularResponseExportDataVUqw3SxC" nillable="true" type="tns:PagedListResultOfTabularResponseExportDataVUqw3SxC" />
  <xs:complexType name="TabularResponseExportData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Respondents" nillable="true" type="tns:ArrayOfUserData" />
      <xs:element minOccurs="0" name="Responses" nillable="true" type="tns:ArrayOfSimpleNameValueCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TabularResponseExportData" nillable="true" type="tns:TabularResponseExportData" />
  <xs:complexType name="ArrayOfSimpleNameValueCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SimpleNameValueCollection" nillable="true" type="tns:SimpleNameValueCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSimpleNameValueCollection" nillable="true" type="tns:ArrayOfSimpleNameValueCollection" />
</xs:schema>